node_modules
.pnpm-store

dist

.env
.env.*
!.env.example

prisma/*.db
prisma/*.db-journal
prisma/*.db-wal
prisma/*.db-shm

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vite
*.tsbuildinfo

coverage
.nyc_output

.DS_Store
Thumbs.db
Desktop.ini

.idea
*.suo
*.user
*.userosscache
